@{
    ViewData["Title"] = "Add a new Flashcard";
}
<h1>@ViewData["Title"]</h1>

@Html.Partial("Partials/_FlashCardContainer.cshtml")

<div id="Add_flashcard_button">
    <button>ADD FLASHCARD</button>
</div>

<div id="Flashcard_added_confirmation">
    <h2>Good job for all of your hardwork!</h2>
    <p>
    To start studying your flashcards, go to the
    <a href="#">Study your flashcards</a> page!
    </p>
    <p>
    To review and edit all of your flashcards, go to the
    <a href="#">Flashcard List</a> page!
    </p>
</div>
