@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Flashcard App</h1>
    <div id="Flashcard_list_container">
        <div id="flashcard">
            <div class="flashcardQuestion">
                <h3>Flashcard Question:</h3>
                <textarea name="text"
                          rows="10"
                          cols="35"
                          wrap="soft"
                          maxlength="250"></textarea>
            </div>
            <div class="flashcardAnswer">
                <h3>Flashcard Answer:</h3>
                <textarea name="text"
                          rows="10"
                          cols="35"
                          wrap="soft"
                          maxlength="250"></textarea>
            </div>
        </div>
        <div id="flashcard">
            <div class="flashcardQuestion">
                <h3>Flashcard Question:</h3>
                <textarea name="text"
                          rows="10"
                          cols="35"
                          wrap="soft"
                          maxlength="250"></textarea>
            </div>
            <div class="flashcardAnswer">
                <h3>Flashcard Answer:</h3>
                <textarea name="text"
                          rows="10"
                          cols="35"
                          wrap="soft"
                          maxlength="250"></textarea>
            </div>
        </div>
        <div id="flashcard">
            <div class="flashcardQuestion">
                <h3>Flashcard Question:</h3>
                <textarea name="text"
                          rows="10"
                          cols="35"
                          wrap="soft"
                          maxlength="250"></textarea>
            </div>
            <div class="flashcardAnswer">
                <h3>Flashcard Answer:</h3>
                <textarea name="text"
                          rows="10"
                          cols="35"
                          wrap="soft"
                          maxlength="250"></textarea>
            </div>
        </div>
    </div>
</div>
