<div id="Add_flashcard_container">
    <div id="Add_question">
        <h3>Question:</h3>
        <textarea name="text"
                  rows="10"
                  cols="35"
                  wrap="soft"
                  maxlength="250"></textarea>
    </div>
    <div id="Add_answer">
        <h3>Answer:</h3>
        <textarea name="text"
                  rows="10"
                  cols="35"
                  wrap="soft"
                  maxlength="250"></textarea>
    </div>
</div>